
h1 {
    color:royalblue;
  text-align: center;
}
body {
  background-color:white;
    margin:0;
}
h2 {
    color: black;
  text-align: left;
    font-size:30px;
}
p {
    color: black;
  text-align: ;
     font-size:20px;
}



.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
ol {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul a:hover:not(.active) {
  background-color: blue;
}

.active {
  background-color: #4CAF50;
}/*
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
     max-width: 100vw;
    grid-template-columns: 17% 17% 17% 17% 12% 20%;
  display: grid;
  grid-template-areas:
      
    'header header header header header header'
    'header header header header header header'
     'header header header header header header'
     'header header header header header header'
   'main main main main right right'
          'main main main main right right'
          'main main main main right right'
        'main main main main right right'
        'main main main main right right'
        'main main main main right right'
    'footer footer footer footer footer footer';
  grid-gap: 2px;
  background-color: grey;
  padding: 5px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ol {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
